<% content_for :button do %>
  <li class="user buttons">
    <a href="/post-penny" class="penny button">Post a Penny!</a>
  </li>
  <li class="user buttons">
    <a href="/all-volunteers" class="button">Volunteers</a>
  </li>
  <li class="user buttons">
    <a href="/all-pennies" class="button">Pennies</a>
  </li>
<% end %>

<% content_for :table_header do %>
  <th>Date</th>
  <th>Location</th>
  <th>Name</th>
<% end %>

<% content_for :table_content do %>
  <% if @pennies[:success?] == false %>
    <tr colspan="2">You have no pennies</tr>
  <% elsif @pennies[:past_pennies] == nil %>
    <%= @pennies[:error] %>
  <% else %>
    <% @pennies[:past_pennies].each do |penny| %>
      <tr>
        <td><%= penny.date %></td>
        <td><%= penny.location %></td>
        <td><%= penny.name %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>

<% content_for :table_header_upcoming do %>
  <tr>
    <th width="150">Date</th>
    <th width="200">Location</th>
    <th width="200">Name</th>
    <th width="250">Time Commitment</th>
    <th width="150">Status</th>
  </tr>
<% end %>

<% content_for :table_content_upcoming do %>
  <% if @pennies[:success?] == false %>
    <tr colspan="2"><%= @pennies[:error] %></tr>
  <% elsif @pennies[:upcoming_pennies] == nil %>
    <%= @pennies[:error]%>
  <% else %>
    <% @pennies[:upcoming_pennies].each do |penny| %>
      <tr>
        <td><%= penny.date %></td>
        <td><%= penny.location %></td>
        <td><%= penny.name %></td>
        <td><%= penny.time_requirement %></td>
        <% if penny.vol_id %>
          <td>Claimed</td>
        <% else %>
          <td>Unclaimed</td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
<% end %>
