<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GPTP</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Top Bar -->
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><img class="logo" src="images/gptplogo.png"></a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li>
          <h3 class="user"><%= session[:user].name %></h3>
        </li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="user buttons">
          <a href="/volunteer" class="button">Volunteers</a>
        </li>
        <li class="user buttons">
          <a href="#" class="button">Pennies</a>
        </li>
      </ul>
    </section>
  </nav>

  <!-- body -->
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <div class="row">
        <div class="small-6 medium-6 large-6 columns pennies past">
          <table class="penny">
            <thead>
              <tr>
                <th colspan="3" class="penny-header">Past Pennies</th>
              </tr>
              <tr>
                <th width="150">Date</th>
                <th width="200">Location</th>
                <th width="150">Name</th>
              </tr>
            </thead>
            <tbody>
              <% if @pennies.length == 0 %>
              <tr colspan="2">You have no pennies</tr>
              <% else %>
               <% @pennies.each do |penny| %>
                  <tr>
                    <td><%= penny.date %></td>
                    <td><%= penny.location %></td>
                    <td><%= penny.name %></td>
                    <td><%= penny.org_id %></td>
                  </tr>
               <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="small-6 medium-6 large-6 columns pennies upcoming">
          <table class="penny">
            <thead>
              <tr>
                <th class="penny-header" colspan="4">Past Pennies</th>
              </tr>
              <tr>
                <th width="150">Date</th>
                <th width="200">Location</th>
                <th width="150">Name</th>
                <th width="100">Time Commitment</th>
              </tr>
            </thead>
            <tbody>
              <% if @pennies.length == 0 %>
              <tr colspan="2">You have no pennies</tr>
              <% else %>
               <% @pennies.each do |penny| %>
                  <tr>
                    <td><%= penny.date %></td>
                    <td><%= penny.location %></td>
                    <td><%= penny.name %></td>
                    <td><%= penny.org_id %></td>
                  </tr>
               <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="small-12 medium-12 large-12 columns footer">
    <ul>
      <li><i class="fa fa-facebook-square fa-2x"></i>Facebook</li>
      <li><i class="fa fa-camera-retro fa-2x"></i>Github</li>
      <li><i class="fa fa-camera-retro fa-2x"></i>Twitter</li>
    </ul>
  </div>
  <script src="/js/foundation.min.js"></script>
</body>
</html>
