<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><img class="logo" src="images/gptplogo.png"></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

<section class="top-bar-section">
  <!-- Left Nav Section -->
  <ul class="left">
    <li class="has-dropdown">
      <a href="#"><div class="three-lines">&#9776;</div></a>
      <ul class="dropdown menu-button">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </li>
  </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li><h2 class="slogan">"Bringing good companies and good people together."</h2></li>
    </ul>
  </section>
</nav>


<table>
  <thead>
    <tr>
      <th width="150">Take the Penny</th>
      <th width="200">Name</th>
      <th>Description</th>
      <th width="150">Organization</th>
      <th width="150">Location</th>
      <th width="150">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @array.each do |elem| %>
      <form action ='/penny_profile' method = 'post'>
      <tr>
        <td><button type = "submit">Take ME</button></td>
        <td type = "text" name = "name"><%= elem.name %></td>
        <td type = "text" name = "description"><%= elem.description %></td>
        <td type = "text" name = "organization"><%= elem.org_id %></td>
        <td type = "text" name = "location"><%= elem.location %></td>
        <td type = "text" name = "date" ><%= elem.date %></td>
      </tr>
    </form>
    <% end %>
  </tbody>
</table>
