<!-- Left Header Title -->
<% content_for :nav_name do %>
  <h3 class="user">Pennies</h3>
<% end %>

<!-- Right Section of buttons -->
<% content_for :button do %>
  <li class="user buttons">
    <% if session[:user].class == GPTP::Volunteer%>
      <a href="/volunteer" class="button">Your Profile</a>
    <% else %>
      <a href="/organization" class="button">Your Profile</a>
    <% end %>
  </li>
  <li class="user buttons">
    <a href="/all-volunteers" class="button">Volunteers</a>
  </li>
  <li class="user buttons">
    <a href="/all-organizations" class="button">Organizations</a>
  </li>
<% end %>

<!-- Penny Table Header -->
<% content_for :table_header do %>
  <th width="150">Take the Penny</th>
  <th width="200">Name</th>
  <th>Description</th>
  <th width="100">Organization</th>
  <th width="150">Location</th>
  <th width="150">Date</th>
  <th width="200">Time Commitment</th>
  <th width="150">ID</th>
<% end %>

<!-- Penny Table rows (All Penny info)-->
<% content_for :table_content do %>
  <% if @result[:success?] %>
    <% @result[:result].each do |elem| %>
      <% if elem.vol_id == nil %>
        <form action ='/take-penny' method = 'post'>
          <tr>
            <!-- <td><button type = "submit">Take Me</button></td> -->
            <td style = "padding-left: 50px;"><a href="/take-penny"><input type="image" value="Take Me" src= "images/coin.png" class="logo left" /></a></td>
            <td ><%= elem.name %></td>
            <input type = "hidden" name = "name" id ="name" value = <%= elem.name %>>
            <td ><%= elem.description %></td>
            <input type = "hidden" name = "description" value = <%= elem.description %>>
            <td><%= elem.org_id %></td>
            <input type = "hidden" name = "org_id" value = <%= elem.org_id %>>
            <td><%= elem.location %></td>
            <input type = "hidden" name = "location" value = <%= elem.location %>>
            <td><%= elem.date %></td>
            <input type = "hidden" name = "date" value = <%= elem.date %>>
            <td><%= elem.time_requirement %></td>
            <input type="hidden" name = "time" value = <%= elem.time_requirement %>>
            <td><%= elem.id %></td>
            <input type = "hidden" name = "id" value = <%= elem.id %>>
          </tr>
        </form>
      <% end %>
    <% end %>
  <% end %>
<% end %>


