
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GPTP</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
<!-- /*  <style>
    *{
      -webkit-box-sizing: border-box;
      border: 1px solid red;
    }
  </style>*/ -->
</head>
<body>
  <% if @new_player %>
    Welcome, <%= @new_player.name %> . Please sign in
  <% end %>

  <% if session[:error] %>
    <%= session[:error] %>
    <% session[:error] = nil %>
  <% end %>
<!-- Top Bar -->
<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <a href="/penny_list" class="button penny_profile">AlL Pennies</a>
  </nav>
</div>


  <div class="row">
        <div>
        <ul class="pricing-table">
          <li class="price">Name: <%= @name %> </li>
          <li class="description">Description: <%= @description %> </li>
          <li class="bullet-item">When: <%= @when %> </li>
          <li class="bullet-item">Where: <%= @where %> </li>
<!--           <li class="bullet-item">How Long: <%= @name %> </li> -->
          <li class = "bullet-item">Organization: <%= @organization %> </li>
          <li class="cta-button"><a class="button" href="#">Take the Penny!</a></li>
        </ul>
      </div>

  </div>

  <div class="footer">
    <ul>
      <li>Logo</li>
      <li>Twitter</li>
      <li>Facebook</li>
    </ul>
  </div>

  <script src="/js/foundation.min.js"></script>
  // <script>
  //   $(".penny_profile").click(function(){

  //   });
  // </script>
</body>
</html>
