<% content_for :button do %>
  <li class="user buttons">
    <a href="/all-organizations" class="button">Organizations</a>
  </li>
  <li class="user buttons">
    <a href="/all-pennies" class="button">Pennies</a>
  </li>
<% end %>

<% content_for :table_header do %>
  <th>Date</th>
  <th>Name</th>
  <th>Organization</th>
  <th>Hours</th>
<% end %>

<% content_for :table_content do %>
  <% if @pennies[:success?] == false %>
    <tr colspan="2">
      <td>You have no pennies</td>
    </tr>
  <% elsif @pennies[:past_pennies] == nil %>
    <%= @pennies[:error] %>
  <% else %>
    <% @pennies[:past_pennies].each do |penny| %>
      <tr>
        <td><%= penny.date %></td>
        <td><%= penny.name %></td>
        <td><%= penny.org_id %></td>
        <td><%= penny.time_requirement %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>

<% content_for :table_header_upcoming do %>
  <tr>
    <th width="150">Date</th>
    <th width="150">Time</th>
    <th width="200">Location</th>
    <th width="150">Name</th>
    <th width="150">Organization ID</th>
  </tr>
<% end %>

<% content_for :table_content_upcoming do %>
  <% if @pennies[:success?] == false %>
    <tr colspan="2"><%= @pennies[:error] %></tr>
  <% elsif @pennies[:upcoming_pennies] == nil %>
    <%= @pennies[:error]%>
  <% else %>
    <% @pennies[:upcoming_pennies].each do |penny| %>
      <tr>
        <td><%= penny.date %></td>
        <td><%= penny.time %></td>
        <td><%= penny.location %></td>
        <td><%= penny.name %></td>
        <td><%= penny.org_id %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
